package controllers

import (
	"encoding/json"
	"net/http"

	"{{.ModulePath}}/internal/services"
)

type {{.FeatureName}}Controller struct {
	service services.{{.FeatureName}}Service
}

func New{{.FeatureName}}Controller(service services.{{.FeatureName}}Service) *{{.FeatureName}}Controller {
	return &{{.FeatureName}}Controller{
		service: service,
	}
}

func (c *{{.FeatureName}}Controller) HandleGet(w http.ResponseWriter, r *http.Request) {
	result := c.service.DoBusinessLogic()
	json.NewEncoder(w).Encode(map[string]string{"message": result})
}
